header {
  background-color: #9f9f9f;
  font-family: 'Permanent Marker', cursive;
}

main, h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

nav, a {
  text-decoration: none;
  color: #000;
}

nav, .nav {
  font-family: 'Roboto', sans-serif;
}

nav, .name {
  font-family: 'Permanent Marker', cursive;
}

.banner {
  font-weight: 300;
}
