body {
  background-color: #1D5472;
}``

header {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  color: #fff;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  color: #22B573;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff;
}

a:hover {
  color: #22B573;
  transition: all 0.3s
}

.button {
  color: #22B573;
  border: 4px solid #22B573;
  border-radius: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
}

.button:hover {
  border: 4px solid #22B573;
  color: #1D5472;
  background-color: #22B573;
  border-radius: 18px;
  font-family: 'Quicksand', sans-serif;
  transition: all 0.3s;
}

.coming-soon {
  margin: 0 auto;
  max-height: 100vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  max-width: 65%;
  text-align: center;
  margin: none;
}

.coming-soon-logo {
  max-width: 12em;
  margin: auto;
}
