body {
  background-color: #fbfbfb;
}

main {
  background-color: #fbfbfb;
}

.error {
  background-image: url(../images/404_404.svg);
  background-color: #ffd175;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200vh;
}

header {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  border-bottom: 1px solid #FFBF40;
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #fff;
}

.side-nav {
  min-height: 100vh;
  padding-top: 30vh;
  padding-left: 3em;
}

p {
  font-weight: 100;
  font-family: 'Quattrocento', serif;
}

main h3 {
  color: #000;
}

main h2 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: 400;
  color: #6fa8c5;
}

main a {
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: #FFBF40;
  font-family: 'Quattrocento Sans', sans-serif;
  transition: all .1s ease-in-out
}

nav a:hover {
  opacity: .6;
  transition: all .15s ease-in-out;
}

nav .nav {
  font-family: 'Quicksand', sans-serif;
}

nav .name {
  font-family: 'Quicksand', sans-serif;
}

footer {
  background-color: #4d7589;
}

footer h4 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-weight: 400;
  padding-left: 9.9em;
}

footer a:hover {
  opacity: .7;
}

.banner {
  height: 100vh;
  background-image: url("{{site.baseurl}}/images/gnome.gif");
}
