:root {
  --color-primary: #000;
  --color-primary-light: #3b3b3b;
  --color-accent-primary: #f16465;
  --color-accent-secondary: #f88;
  --color-neutral: #e2e2e2;
  --font-primary: "Courier New", courier, monospace;
  --font-secondary: "Gloria Hallelujah", sans-serif;
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

p {
  font-family: var(--font-primary);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-accent-primary);
  text-decoration: none;
}

nav {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

ul, ol, dl {
  font-family: var(--font-secondary);
}

mark {
  background-color: var(--color-accent-secondary);
}

.btn, .btn-light, .btn-ghost {
  font-family: var(--font-secondary);
}

a:hover {
  color: var(--color-primary);
}

.grey {
  background-color: var(--color-neutral);
}
