<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
  <title>{% if page.title %}{{page.title}}・{% endif %}Nick Brown Design・Ottawa, Ontario</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}../css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}../css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}../css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}../css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
</head>
<body>

  <header class="header">
    <nav role="navigation" class="gutter-1-2 pad-t-1-2 pad-b-1-4 max-length">
      <div class="grid grid-middle">
        <div class="unit unit-xs-2-3 unit-s-2-3 unit-m-1-3 unit-l-1-3 unit-xl-1-3 unit-content-center-vertical">
          <a href="{{site.baseurl}}/index" itemprop="name" class="a-logo giga push-0"><img class="img-flex nbd-logo" src="{{site.baseurl}}/images/nbd-logo-01.svg" alt="Nick Brown Design"></a>
        </div>
        <div class="unit unit-xs-hidden unit-s-hidden unit-m-2-3 unit-l-2-3 unit-xl-2-3">
          <div class="grid">
            <div class="unit unit-xs-hidden unit-s-hidden unit-m-1-3 unit-l-1-3 unit-xl-1-3">
              <a href="{{site.baseurl}}/index" class="mega right">Home</a>
            </div>
            <div class="unit unit-xs-hidden unit-s-hidden unit-m-1-3 unit-l-1-3 unit-xl-1-3">
              <a href="{{site.baseurl}}/case1" class="mega right">Works</a>
            </div>
            <div class="unit unit-xs-hidden unit-s-hidden unit-m-1-3 unit-l-1-3 unit-xl-1-3">
              <a href="{{site.baseurl}}/about" class="mega right">About</a>
            </div>
          </div>
        </div>
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-hidden unit-l-hidden unit-xl-hidden gutter-1-2">


          <a href="javascript:void(0);" class="icon right" onclick="showmenu()">
            <i class="fa fa-bars">
              <div class="container" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            </i>
          </a>
          <div id="myLinks" class="topnav pin-top-center wrapper">
            <a href="{{baseurl}}/index.html">Home</a>
            <a href="{{baseurl}}/case1.html">Works</a>
            <a href="{{baseurl}}/about.html">About</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
  {{content}}
  </main>

  <footer role="contentinfo" class="pad-t-1-2 pad-b-1-2">
    <div class="grid grid-middle max-length">
      <div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="grid grid-middle">
          <div class="unit unit-xs-1-4 unit-s-1-4 unit-m-1-4 unit-l-1-4 unit-xl-1-4">
            <a itemprop="email" class="gutter-1-4 icon right" href="mailto:nicktgbrown@gmail.com">
              <i class="icon i-32">
                <img class="img-flex" src="{{site.baseurl}}/images/email.svg" alt="Email Me">
              </i>
            </a>
          </div>
          <div class="unit unit-xs-1-4-centered unit-s-1-4-centered unit-m-1-4-centered unit-l-1-4-centered unit-xl-1-4-centered">
            <a class="gutter-1-4 icon" href="https://www.behance.net/ntgbrown">
              <i class="icon i-32">
                <img class="img-flex" src="{{site.baseurl}}/images/behance-logo.svg" alt="Behance">
              </i>
            </a>
          </div>
          <div class="unit unit-xs-1-4-centered unit-s-1-4-centered unit-m-1-4-centered unit-l-1-4-centered unit-xl-1-4-centered">
            <a class="gutter-1-4 icon" href="https://vimeo.com/user71123987">
              <i class="icon i-32">
                <img class="img-flex" src="{{site.baseurl}}/images/vimeo-square-logo.svg" alt="Vimeo">
              </i>
            </a>
          </div>
          <div class="unit unit-xs-1-4 unit-s-1-4 unit-m-1-4 unit-l-1-4 unit-xl-1-4">
            <a class="gutter-1-4 icon left" href="https://www.linkedin.com/in/nick-brown-66028b146/">
              <i class="icon i-32">
                <img class="img-flex" src="{{site.baseurl}}/images/linkedin-logo.svg" alt="Linkedin">
              </i>
            </a>
          </div>
        </div>
      </div>
      <div id="data-author" itemscope itemprop="author" itemscope itemtype="http://schema.org/Person" class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2 unit-xl-1-2 unit-content-center-vertical">
        <h4 class="kilo right gutter-1-2 push-0">©<span itemprop="name"> Nick Brown Design</span></h4>
      </div>
    </div>
  </footer>
  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }

    function showmenu() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
      x.style.display = "none";
      } else {
      x.style.display = "block";
      }
    }
  </script>
</body>
</html>
